.header {
    margin: 0.2.5rem;
    padding: .5rem 0;
    align-items: center;
    display:flex;
    justify-content: space-between;
}

 .headerLeft, .headerRight {
    display: flex;
     align-items: center; 
} 


a > span {
    margin:  20px;
    font-size: 1.3rem;
    cursor:pointer;
    color:white;
}

.headerLeft img{
    width:10%
}

@media only screen and (max-width:780px) {
.headerLeft span{
   background-color: blue;
   display: flex;
   flex-direction: column;
}
}